<ion-view title="Add as Donor" id="page13" style="background-color: rgb(254, 253, 254);">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header"  ng-controller="GetMapController">
    <form id="addAsDonor_form19" class="list"  >
     
      <label class="item item-input addDonerNIC"  name="Dnic">
        <span class="input-label">NIC</span>
        <span id="response"></span>
        <input placeholder="" type="text" id="addAsDonorInput31" ng-model="addAsDonorInput31" >
      </label>
      <label class="item item-select addDonerGender"  name="Dgender">
        <span class="input-label">Gender</span>
        <select id="addAsDonor_select2">
          <option value="Male" selected="">Male</option>
          <option value="Female">Female</option>
        </select>
      </label>
      <label class="item item-select addDonerBloodgrp"  name="Dgroup">
        <span class="input-label">Blood Group</span>
        <select id="addAsDonor_select3">
          <option value="A+" selected>A+</option>
          <option value="B+">B+</option>
          <option value="O+">O+</option>
          <option value="AB+">AB+</option>
          <option value="A-">A-</option>
          <option value="B-">B-</option>
          <option value="O-">O-</option>
          <option value="AB-">AB-</option>
        </select>
      </label>
      <label class="item item-input "  name="loca">
        <span class="input-label">Location</span>
        <span id="location"></span>
      </label>

    </form>
    <div id="getmap" data-tab-disabled="true"></div>
    <div id="addAsDonor-button-bar5" class="button-bar addDonerButton">
      <a ui-sref="iDonate2" id="addAsDonor-button26" class="button button-positive  button-block addDonerButtonCan">Cancel</a>
      <a  id="addAsDonor-button29" class="button button-positive  button-block addDonerButtonNext">Next</a>
    </div>

  </ion-content>
</ion-view>