<ion-view title="Add as Donor" id="page15" style=""  class="Homepage">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h3 id="addAsDonor3-heading7" style="color: rgb(240, 24, 67); text-align: left;" class="addDonerAgreement">Do you know?</h3>
    <div id="addAsDonor3-markdown12" class="show-list-numbers-and-dots addDonerAgreementCont">
      <p style="color:#000000;">
<h5>Who can donate blood?</h5>
<br>
The person must fulfill several criteria to be accepted as a blood donor. These criteria are set forth to ensure the safety of the donor as well as the quality of donated blood.
 <br>
<h5>Donor Selection Criteria</h5>
<br>
*Age above 18 years and below 60 years.<br>
*If previously donated, at least 4 months should be elapsed since the date of previous donation.<br>
*Hemoglobin level should be more than 12g/dL. (this blood test is done prior to each blood donation)<br>
*Free from any serious disease condition or pregnancy.<br>
*Should have a valid identity card or any other document to prove the identity.<br>
*Free from "Risk Behaviours".<br>
<h5>Risk Behaviours</h5><br>

*Homosexuals.<br>
*Sex workers and their clients.<br>
*Drug addicts.<br>
*Engaging in sex with any of the above.<br>
*Having more than one sexual partner<br>
      </p>
    </div>
    <div id="addAsDonor3-button-bar7" class="button-bar addDonerButtonAgreement">
      <a ui-sref="iDonate2" id="addAsDonor3-button45" class="button button-assertive button-block addDonerButtonAgreementCan">Cancel</a>
      <a ui-sref="addAsDonor({user: userid})" id="addAsDonor3-button46" class="button button-assertive button-block addDonerButtonAgreementNext">Next</a>
    </div>
  </ion-content>
</ion-view>