<ion-view title="Add as Donor" id="page14" style="background-color: rgb(254, 253, 254);">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <p id="addAsDonor2-heading6" style="color: #F01843;" class="addDonerHeader">Donated blood earlier?</p>
    <form id="addAsDonor2-form20" class="list">
      <label class="item item-input item-stacked-label addDonerButtonLast" >
        <span class="input-label">Last blood donation date</span>
        <input placeholder="" type="date" id="addAsDonor2_input35">
      </label>
      <label class="item item-input item-stacked-label addDonerButtonBookNum">
        <span class="input-label">Donor book number</span>
        <input placeholder="" type="text"  id="addAsDonor2_input36">
      </label>
    </form>
    <div class="spacer" style="height: 100px;"></div>
    <button id="addAsDonor2-button31" class="button button-positive  button-block addDonerButtonConfrm">Confirm</button>
  </ion-content>
</ion-view>