<ion-view title="Blood Request" id="bloodRequestnot">
  <ion-content padding="true" class="has-header">
    <ion-list id="bloodRequestnot-list5">
      <ion-item id="bloodRequestnot-list-item14">Location</ion-item>
      <ion-item id="bloodRequestnot-list-item15">Requested ID</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 259px;"></div>
    <div id="bloodRequestnot-button-bar4" class="button-bar">
      <button id="bloodRequestnot-button17" class="button button-dark  button-block">Cancel</button>
      <button id="bloodRequestnot-button18" class="button button-assertive  button-block">Accept</button>
    </div>
  </ion-content>
</ion-view>