<ion-view title="Blood Request" id="page8" style="background-color: rgb(254, 253, 254);">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="bloodRequest-form5" class="list reqform">
      <label class="item item-input formid" id="bloodRequest-input6" name="Rid">
        <span class="input-label">User ID</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input formloc" id="bloodRequest-input7" name="Rlocation">
        <span class="input-label">Location</span>
        <input placeholder="" type="text">
      </label>
     
      <label class="item item-select addDonerBloodgrp" id="bloodRequest-select1" name="Dgroup">
        <span class="input-label">Blood Group</span>
        <select>
          <option>A+</option>
          <option>B+</option>
          <option>O+</option>
          <option>AB+</option>
          <option>A-</option>
          <option>B-</option>
          <option>O-</option>
          <option>AB-</option>
        </select>
      </label>
      <label class="item item-select addDonerBloodgrp" id="bloodRequest-select2" name="Dtype">
        <span class="input-label">Blood Type</span>
        <select>
          <option>Blood(whole blood)</option>
          <option>Platelets</option>
          <option>Plasma</option>
          <option>Power Red</option>
        </select>
      </label>

      <div id="bloodRequest-button-bar3" class="button-bar reqbutton">
        <a ui-sref="iDonate2" id="bloodRequest-button14" class="button button-assertive button-block reqbuttoncancel">Cancel</a>
        <button id="bloodRequest-button15" class="button button-assertive button-block reqbuttonsend">Send</button>
      </div>
    </form>
  </ion-content>
</ion-view>