<ion-view title="Blood Compatibility" id="page11" style="background-color: rgb(254, 253, 254);">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
  	 <div class="row header">
          <div class="col">Recipient</div>
          <div class="col">Donor
          <div class="row">
          	<div class="col">O-</div>
          	<div class="col">O+</div>
          	<div class="col">A-</div>
          	<div class="col">A+</div>
          	<div class="col">B-</div>
          	<div class="col">B+</div>
          	<div class="col">AB-</div>
          	<div class="col">AB+</div>
          </div>
          </div>
     </div>
     <div class="row">
     		<div class="col">O-</div>
     		<div class="col">
     		<div class="row">
          	<div class="col"> <i class="ion-android-checkmark-circle" style="font-weight:600;font-size: 45px;"></i></div>
          	<div class="col"><i class="ion-android-close-outline" style="font-weight:600;font-size: 45px;"></i></div>
          	<div class="col"><img  src="img/wrong.png"></div>
          	<div class="col"><img  src="img/wrong.png"></div>
          	<div class="col"><img  src="img/wrong.png"></div>
          	<div class="col"><img  src="img/wrong.png"></div>
          	<div class="col"><img  src="img/wrong.png"></div>
          	<div class="col"><img  src="img/wrong.png"></div>
          	</div>
          </div>
     </div>
     <div class="row">
     		<div class="col">O+</div>
     		<div class="col">
     		<div class="row">
          	<div class="col"><img  src="img/tick.png"></img></div>
          	<div class="col"><img  src="img/tick.png"></img></div>
          	<div class="col"><img  src="img/wrong.png"></div>
          	<div class="col"><img  src="img/wrong.png"></div>
          	<div class="col"><img  src="img/wrong.png"></div>
          	<div class="col"><img  src="img/wrong.png"></div>
          	<div class="col"><img  src="img/wrong.png"></div>
          	<div class="col"><img  src="img/wrong.png"></div>
          	</div>
          </div>
     </div>
     <div class="row">
     		<div class="col">A-</div>
     </div>
     <div class="row">
     		<div class="col">A+</div>
     </div>
     <div class="row">
     		<div class="col">B-</div>
     </div>
     <div class="row">
     		<div class="col">B+</div>
     </div>
     <div class="row">
     		<div class="col">AB-</div>
     </div>
     <div class="row">
     		<div class="col">AB+</div>
     </div>
        

  </ion-content>
</ion-view>