<ion-view title="Blood Compatibility" id="status" class="comp" style="">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 283px; height: 40px;"></div>
    <form id="status-form3" class="list" ng-if="bloodSelected == false">
      <ion-list id="status-list3">
      <h3 style="text-align: center;font-family: sans-serif;color: #09107C;"> Can you Donate?</h3><br><br>
        <label class="item item-select" id="status-select1">
          <span class="input-label">Select your blood group </span>
          <select ng-model="selectedBlood">
            <option value={{bloodKey}} ng-repeat="(bloodKey, bloodVal) in bloodTypes">{{bloodKey}}</option>
          </select>
        </label>
      </ion-list>
      <div class="spacer" style="width: 283px; height: 64px;"></div>
      <button id="status-button16" class="button button-assertive  button-block setrem" ng-click="checkBlood(selectedBlood)">Check</button>
    </form>
    <div ng-if="bloodSelected != false" class="bloodTable">
      <h2 style="text-align: center; background-color: #ffffff;">You have selected blood : <span class="selectedBlood">{{bloodSelected}}</span></h2>
      <div class="spacer" style="height: 34px;"></div>
      <div class="row" style="font-size: 1.5em;background-color: #ffffff;"> 
      <div class="col col-30" >
        You Can Give:
      </div>
      <div class="col col-70">
       <span class="selectedBlood">{{ currentBloodGroups.give.join(',') }}</span>
      </div>
      </div>
      <div class="spacer" style="height: 34px;"></div>
      <div class="row" style="font-size: 1.5em;background-color: #ffffff;"> 
      <div class="col col-30">
      You Can Get:
      </div>
      <div class="col col-70"> 
      <span class="selectedBlood">{{ currentBloodGroups.get.join(',') }}</span>
      </div>
      </div>
    <div class="spacer" style="height: 180px;"></div>
      <button id="status-button16"  class="button button-assertive  button-block setrem" ng-click="goBack()">Back</button>
    </div>
  </ion-content>
</ion-view>
