<ion-view title="Contact Donor" id="contactDonor" class="callerpage">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 47.9883px;"></div>
    <h1 id="contactDonor-heading1" style="color:#ffffff; text-align: center;">Your Request is accepted by <br>{{user}}</h1>
   <div class="spacer" style="height: 150px;"></div>
   

    <div class="row" style="align-self: center; margin-left: 15%;" > 
      <div class="col col-50">
      <div class="round-button" ng-click="getnum()">
       <a href="tel:{{phone}}" id="contactDonor-button8"   class="button  round-button-circle   ion-android-call "></a>
      </div>
      </div>
      <div class="col col-50">
      <div class="round-button">
      <button id="contactDonor-button9" style="background: #008000" class="button  round-button-circle ion-android-textsms " ng-click="sendSMS({{phone}})"></button>
      </div>
      </div>
    </div>

     

    </div>
  </ion-content>
</ion-view>


