<ion-view title="Contact Donor" id="contactDonor">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 47.9883px;"></div>
    <h1 id="contactDonor-heading1" style="color:#000000;">Your Request is accepted by ------------</h1>
    <div id="contactDonor-button-bar2" class="button-bar">
      <button id="contactDonor-button8" class="button button-assertive  button-block icon-left ion-android-call">Call </button>
      <button id="contactDonor-button9" class="button button-assertive  button-block icon-left ion-android-textsms">Message</button>
    </div>
  </ion-content>
</ion-view>