<ion-view title="" id="page5" style="background-color: rgb(253, 253, 245);" class="Homepage">
  <ion-nav-buttons side="right" class="has-header">
 
    <button  class="button button-icon icon ion-android-contact " style="color:#FFFFFF;" ></button>
    <button   class="button  button-icon icon ion-android-notifications " id="notification" style="color:#FFFFFF;"></button>
    <button class="button button-icon icon ion-android-menu" style="color:#FFFFFF;"></button>

  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    
    
    <div class="row" style=""> 
      <div class="col col-50">
        <a ui-sref="timeline" id="iDonate2-button17" style="font-weight:600;font-size: 25px;min-height: 130px;color:#FFFFFF;" class="button button-assertive button-block button-outline">
        Timeline</a>
      </div>
      <div class="col col-50">
      <a ui-sref="bloodRequest" id="iDonate2-button18" style="font-weight:600;color:#FFFFFF;font-size: 25px;min-height: 130px" class="button button-assertive  button-block button-outline">
      Send Request</a>
      </div>
    </div>
    <div class="row"> 
      <div class="col col-50">
        <a ui-sref="searchBloodBank" id="iDonate2-button27" style="font-weight:600;color:#FFFFFF;font-size: 25px;min-height: 130px" class="button button-assertive  button-block button-outline">Blood Bank</a>
      </div>
      <div class="col col-50">
        <a ui-sref="reportUser" id="iDonate2-button38" style="font-weight:600;color:#FFFFFF;font-size: 25px;min-height: 130px" class="button button-assertive  button-block button-outline">Report</a>
      </div>
    </div>
    <div class="row"> 
      <div class="col col-50">
        <a ui-sref="bloodCompatibility" id="iDonate2-button28" style="font-weight:600;color:#FFFFFF;font-size: 25px;min-height: 130px" class="button button-assertive  button-block button-outline">Blood Compatibility</a>
      </div>
      <div class="col col-50">
        <a ui-sref="addAsDonor3" id="iDonate2-button39" style="font-weight:600;color:#FFFFFF;font-size: 25px;min-height: 130px" class="button button-assertive  button-block button-outline">Add as Donor</a>
      </div>
    </div>
  </ion-content>
</ion-view>