<ion-view title=" Log in" id="page3" style="background-color: rgb(254, 253, 254);" class="loginpage">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 100px;"></div>
    <form form  id="LogIn-form1" class="list loginform">
      <ion-list id="LogIn-list1" class="loginlist">
        <label class="item item-input logclass" id="LogIn-input1" name="logname">
          <span class="input-label">User Name</span>
          <input placeholder="Mayuri Silva" type="text">
        </label>
        <label class="item item-input loginclass" id="LogIn-input2" name="lognum">
          <span class="input-label">Phone Number</span>
          <input placeholder="+94770254825" type="tel">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button type="submit" id="LogIn-button4" class="button button-assertive button-block logbutton">OK</button>
    </form>
  </ion-content>
</ion-view>