<ion-view title="Notification" id="notification" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="notification-container1" ng-repeat="accs in acc.info | orderBy: 'time'">
    <a ui-sref="contactDonor({term: accs.No})"  >
      <ion-list id="notification-list1">
        <ion-item class="item-icon-left positive" id="notification-list-item3">
          <i class="icon ion-waterdrop"></i>Your Request is accepted by {{accs.user_id}}</ion-item>
      </ion-list>
      </a>
      </div>
      <div id="notification-container2" ng-repeat="item in items.info | orderBy: 'time'">
      <a ui-sref="bloodRequestnot({term: item.No})"  >
        <ion-list id="notification-list4">
          <ion-item class="item-icon-left assertive" id="notification-list-item10" >
            <i class="icon ion-waterdrop"></i>You have a blood request by  {{item.requester_id}}
            </ion-item>
        </ion-list>
        </a>
      </div>
    
    <div id="notification-container3">
      <ion-list id="notification-list6">
        <ion-item class="item-icon-left balanced" id="notification-list-item17">
          <i class="icon ion-android-bulb"></i>----- verify your donation record</ion-item>
      </ion-list>
    </div>
    <div class="spacer" style="width: 300px; height: 74px;"></div>
    <button id="notification-button1" class="button button-assertive  button-block">See All </button>
    
  </ion-content>
</ion-view>
