<ion-view title="Notification" id="notification" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
  <div >
  <ion-list id="notification-list1">
    <div id="notification-container1" ng-repeat="accs in acc.info | orderBy: 'time'">
    <a ui-sref="contactDonor({term: accs.No})"  >
      
        <ion-item class="item-icon-left positive" id="notification-list-item3">
          <i class="icon ion-waterdrop"></i>Your Request is accepted by {{accs.user_id}}<br>{{accs.date}}</ion-item>

      
      </a>
      </div>
      <div id="notification-container2" ng-repeat="item in items.info | orderBy: 'time'">
      <a ui-sref="bloodRequestnot({term: item.No})"  >
        
          <ion-item class="item-icon-left assertive" id="notification-list-item10" >
            <i class="icon ion-waterdrop"></i>You have a blood request by  {{item.requester_id}}<br>{{item.date}}
            </ion-item>
        
        </a>
      </div>
    
    <div id="notification-container3">
      
        <ion-item class="item-icon-left balanced" id="notification-list-item17">
          <i class="icon ion-android-bulb"></i>----- verify your donation record</ion-item>
      
    </div>
   </ion-list>
   </div>
    
  </ion-content>
</ion-view>
