<ion-view title="Settings" id="page6" style="background-color: rgb(254, 253, 254);" class="Homepage">
  <ion-nav-buttons side="left" class="has-header">
    
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="settings-list5" ng-repeat="it in item.info">
      <ion-item class="item-thumbnail-left  setting" id="settings-list-item12" style="">
      <img src="img/donate.png">
      <h1>IDonate</h1>
        <p>{{it.fname}}  {{it.lname}}</p>
        <p>{{it.phone}}</p>
      </ion-item>
    </ion-list>
    <button id="settings-button41" class="button button-assertive  button-block icon-left ion-trash-b faq" ng-click=remove()>Remove your Donor Account</button>
    <button id="settings-button40" class="button button-assertive button-block icon-left ion-power"  ng-click=logout()>LogOut</button>
    
  </ion-content>
</ion-view>