<ion-view title="Status" id="status" style="">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 283px; height: 40px;"></div>
    <form id="status-form3" class="list">
      <ion-list id="status-list3">
        <label class="item item-select" id="status-select1">
          <span class="input-label">* Select </span>
          <select>
            <option>Healthy</option>
            <option>Unavailabale</option>
            <option>Unhealthy</option>
          </select>
        </label>
      </ion-list>
      <div class="spacer" style="width: 283px; height: 64px;"></div>
      <button id="status-button16" class="button button-calm  button-block setrem">Post</button>
    </form>
  </ion-content>
</ion-view>