<ion-view title="view" id="page2" class="view" style="">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card" id="view-card22">
      <ion-item class="item-avatar" id="view-list-item8" style="">
        <img src="img/7mOVXrrXT6mBVUcNCAPH_476.jpg">
        <h2>2014/03/16 at UCSC</h2>
      </ion-item>
      <div class="item item-body" id="view-list-item-container4" style="">
        <div id="view-markdown8" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">DOnated blood..</p>
        </div>
      </div>
    </div>
    <div class="list card" id="view-card26">
      <ion-item class="item-avatar" id="view-list-item13" style="">
        <img src="img/FBmCyUZjRWCR4k21tGap_475.jpg">
        <h2>2014/08/06 at Kelaniya Temple</h2>
      </ion-item>
      <div class="item item-body" id="view-list-item-container8" style="">
        <div id="view-markdown12" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">DOnated blood..</p>
        </div>
      </div>
    </div>
    <div class="list card" id="view-card27">
      <ion-item class="item-avatar" id="view-list-item15" style="">
        <img src="img/7mOVXrrXT6mBVUcNCAPH_476.jpg">
        <h2>2014/03/16 at UOK</h2>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
      <div class="item item-body" id="view-list-item-container9" style="">
        <div id="view-markdown13" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">DOnated blood..</p>
        </div>
      </div>
    </div>
    <div class="list card" id="view-card28">
      <ion-item class="item-avatar" id="view-list-item16" style="">
        <img src="img/7mOVXrrXT6mBVUcNCAPH_476.jpg">
        <h2>2014/03/16 at UCSC</h2>
      </ion-item>
      <div class="item item-body" id="view-list-item-container10" style="">
        <div id="view-markdown14" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">DOnated blood..</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>