/* Empty. Add your own CSS if you like */
i.button ion-android-contact  {
font-size: ;
color : green;
}
.barclass{
  background: #ff1930!important;
  
}
.button ion-android-clipboard {
  font-size: 2.2rem;
}