/* Empty. Add your own CSS if you like */
i.button ion-android-contact  {
font-size: ;
color : green;
}
.barclass{
  background: #D21B1B!important;

}
.button ion-android-clipboard {
  font-size: 2.2rem;
}
.scroll{
	height: 100%;
}
#map{
	width: 100%;
	height: 100%;
}
#getmap{
	width: 100%;
	height: 40%;
}
.img{
    width: 45.7vw;
    height: 100px; //some custom height
    margin: 2px;
}
.Homepage{
	background: url("../img/back.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.bloodTable .selectedBlood {
  color: red;
}
